<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Counter App</title>
</head>
<body>
    <div class="container counter text-center" style="margin-top: 150px;">
        <h1 class="display-1 text-white">
            {% if request.session.count %}
            {{ request.session.count }}
            {% else %}
            0
            {% endif %}
        </h1><br><br>
        <form method="post">{% csrf_token %}
            <button name="count" class="count px-5 py-3 text-white shadow-lg">
                Contar
            </button>
        </form>
        <br><br>
        <form method="post" {% csrf_token %}>
            <button name="reset" class="reset px-5 py-3 text-white shadow-lg">
                Resetar
            </button>
        </form>
    </div>
</body>
</html>